@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Shantell+Sans:wght@300&family=Tajawal:wght@200;300&display=swap');

* {
    font-family: 'Gruppo';
    font-weight: bolder;
    font-size: 1em;
    background-color: azure;
    color: rgb(41, 41, 41);
}