.firstSection {
    background-image: url('../../public/images/abstract-background.png');
}

.nameText {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    background: transparent;
}

.roundedImage {
    border-radius: 100%;
}

.bgSemiTransparent {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.fadeIn {
    opacity: 0;
    transition: opacity 1s ease;
}